.modal-backgroundPasswrong {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1)!important;
    ;
  }

.modal-cardPasswrong {
    margin: 0 auto;
    display: block;
    margin-top: 220px;
    width: 550px;
    height: 250px;
    background-color: #FFB636;
    border-radius: 15px;
  }

  .modal-backgroundChangePass {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)!important;
    ;
  }
  .modal-backgroundPassreset {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(224, 216, 216, 0.842)!important;
    ;
  }
  
.modal-cardChangePass {
    margin: 0 auto;
    display: block;
    margin-top: 6%;
    width: 550px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
  }
    

  .modal-cardPassreset {
    margin: 0 auto;
    display: block;
    margin-top: 90px;
    width: 950px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-backgroundSendSuccess {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1)!important;
    ;
  }

.modal-cardSendSuccess {
    margin: 0 auto;
    display: block;
    margin-top: 220px;
    width: 600px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-backgroundRegisSuccess {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1)!important;
    ;
  }

.modal-cardRegisSuccess {
    margin: 0 auto;
    display: block;
    margin-top: 220px;
    width: 550px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-background {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1)!important;
    ;
  }

  .modal-cardforget {
    margin: 0 auto;
    display: block;
    margin-top: 200px;
    width: 650px;
    height: 312px;
    background-color: #FFB636;
    border-radius: 15px;
  }

  .modal-backgroundfill {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1)!important;
    ;
  }

.modal-cardfill {
    margin: 0 auto;
    display: block;
    margin-top: 210px;
    width: 550px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 15px;
  }

  .modal-cardChangePass2 {
    margin: 0 auto;
    display: block;
    margin-top: 6%;
    width: 550px;
    height: 500px;
    background-color: #FFB636;
    border-radius: 15px;
  }